<div class="row">
  <div class="col-12">
  <h1>News</h1>
  </div>
</div>
<div class="row" *ngFor="let news of newsList">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-dark text-light">
        <h2 class="card-title">{{news.title}}</h2>
      </div>
      <div class="card-body">
        <p class="card-text">{{news.content}}</p>
      </div>
      <div class="card-footer text-right text-small">
        Publié le : {{news.published_at | date:'dd/MM/YYYY à HH:mm (z)'}} par {{news.profiles.username}} <span *ngIf="news.published_at != news.updated_at">- Mise à jour le : {{news.updated_at | date:'dd/MM/YYYY à HH:mm (z)'}}</span>
      </div>
    </div>
  </div>
</div>