<div class="row">  
  <div class="col-3"></div>
  <div class="col-6 text-center">
    <h1>Nouveau mot de passe</h1>
    <p>Insérez votre nouveau mot de passe puis validez.</p>
    <div class="alert alert-warning" role="alert" *ngIf="!authService.session">
      Problème de session, recharchez la page avec F5.
    </div>
    <form [formGroup]="newPassword" (ngSubmit)="sendNewPassword()">
      <div class="form-group row">
        <label for="registrationPassword" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="registrationPassword" placeholder="@Zerty123456" formControlName="passw"/>
      </div>
      <div class="form-group row">
        <button type="submit" class="btn btn-primary form-control">Changer le mot de passe</button>
      </div>
    </form>
  </div>
</div>