<div class="row">  
  <div class="col-3"></div>
  <div class="col-6 text-center">
    <h1>Nouveau mot de passe</h1>
    <p>Insérez votre nouveau mot de passe puis validez.</p>
    <div class="alert alert-warning" role="alert" *ngIf="!authService.session">
      Problème de session, recharchez la page avec F5.
    </div>
    <form [formGroup]="newPassword" (ngSubmit)="sendNewPassword()">
      <div class="form-group row">
        <label for="registrationPassword" class="form-label">Mot de passe*</label>
        <input type="password" class="form-control" id="registrationPassword" placeholder="@Zerty123456" formControlName="passw" required />
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="(resetSubmitted || newPassword.controls.passw.touched) && newPassword.controls.passw.hasError('required')">
        Mot de passe obligatoire !
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="(resetSubmitted || newPassword.controls.passw.touched) && newPassword.controls.passw.hasError('minlength')">
        Votre mot de passe doit faire au moins 8 caractère de long !
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="(resetSubmitted || newPassword.controls.passw.touched) && newPassword.controls.passw.hasError('maxlength')">
        Votre mot de passe doit faire au maximum 16 caractère de long !
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="(resetSubmitted || newPassword.controls.passw.touched) && newPassword.controls.passw.hasError('pattern')">
        Votre mot de passe doit contenir au moins 1 majuscule, 1 minuscule, 1 chiffre et un caractère spécial (-+_!@#$%^&*.,?) !
      </div>
      <div class="form-group row">
        <label for="registrationPasswordConfirmation" class="form-label">Confirmer le nouveau mot de passe*</label>
        <input type="password" class="form-control" id="registrationPasswordConfirmation" placeholder="@Zerty123456" formControlName="passwConfirmation" required />
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="(resetSubmitted || newPassword.controls.passwConfirmation.touched) && newPassword.value.passw != newPassword.value.passwConfirmation">
        Les deux mots de passe ne correspondent pas !
      </div>
      <div class="form-group row" *ngIf="authService.session">
        <button type="submit" class="btn btn-primary form-control">Changer le mot de passe</button>
      </div>
    </form>
  </div>
</div>